.NavigationBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fb;

  .navBar {
    max-width: 1200px;
    width: 100%;
    padding: 20px;

    .ulContent {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 50px;
      margin-left: 70px;
    }
  }
}

.BarDark {
  background-color: #1e1e1e;
  color: #fff;
}
